<mat-toolbar class="header">
    <mat-toolbar-row style="font-size: 1.5rem; height: 80px;">
        <a href="#"><img class="img-logo" src="assets/img/angular-card.png"></a>
            <span class="title-group">
                <a href="#">
                <i class="material-icons">
                    home
                </i>
                    Api Usuarios
            </a>
        </span>
      <span class="example-spacer"></span>
      <mat-icon></mat-icon>
      <button mat-raised-button>Adicionar</button>
    </mat-toolbar-row>
</mat-toolbar>

