.header {
    background-color: gainsboro;
  }
  .img-logo{
      height: 140px;
  }
  .example-button-row {
      display: table-cell;
      width: 490px;
    }
    
    .example-button-row .mat-button-base {
      margin: 8px 8px 8px 0;
    }
    .example-spacer {
      flex: 1 1 auto;
    }
    .title {
        padding: 10px;
    }
    a {
        text-decoration: none;
        color: brown;
    }